<div class="container-fluid text-center bg-grey">
<h2>Nearby Shops</h2>
<br>
<div class="row text-center">
    <div class="col-sm-3" *ngFor='let item of collection'>
        <div class="thumbnail">
            <h4>{{item.name}}</h4>
            <img src="https://spring.io/img/homepage/icon-spring-framework.svg" alt="image" width="200" height="200"><br><br>
            <button type="submit" class="btn btn-danger" (click)="onDislike(item)" >Dislike</button>
            <button type="submit" class="btn btn-success" (click)="onLike(item)" >like</button><br><br>
        </div>
    </div>
</div>
</div>